<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}48{% endblock %}</title>
        {% block stylesheets %}
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" charset="utf-8" />
        <link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            {% block header %}{% endblock %}
        </header>
        <div class="container">
            {% block container %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {% endblock %}
        {% block modal %}<div id="modal" class="modal fade"></div>{% endblock modal %}
        {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
